@import url(styles.css);

* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

section {
    overflow: hidden;
    height: 90vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#area-cadastro {
    font-size: 1.5em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: brown;
    height: fit-content;
    width: 30%;
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

button {
    margin: 10px;
}
 