@import url(styles.css);

body {
    overflow-y: hidden;
    background-image:url(download.jfif) ;
 }
 
 nav {
     margin: 10px 0; 
 }
 
 nav a {
     color: rgb(0, 0, 0); 
     margin: 0 100px; 
     text-decoration: none; 
 }
 
 h1 {
     margin-top: 50px; 
     color: rgb(0, 0, 0);
 }
 
 form {
    /*Flexbox*/
     background-color: rgba(255, 255, 255, 0.6s);
     /*Efeito de blur*/
     backdrop-filter: blur(6.5px); 
     -webkit-backdrop-filter: blur( 6.5px );
     /**/
     padding: 20px;
     /*Borda*/
     border-radius: 10px;
     border: 1px solid black;
     display: inline-block;
 }
 
 label {
     background-color:  rgba(255, 255, 255, 0);
     padding: 5px;
     display: inline-block;
 }
 
 input {
     background-color:  rgb(206, 198, 198, 0.6s);
     margin-top: 40px; 
     padding: 10px;
     border: none;
     border-radius: 5px;
     width: 200px;
     color: rgb(0, 0, 0);
 }
 
 button {
     background-color: #000000;
     color: rgb(252, 252, 252);
     padding: 10px 20px;
     border: none;
     border-radius: 5px;
     cursor: pointer;
     transition: 0.6s;
 }
 
 button:hover {
    border: 1px solid black;
    color: black;
     background-color: white;
 }
 