@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0px;
    border: 0px;
    font-family: 'Poppins';
    box-sizing: border-box;
}

body {
    background-color: #18ABA1;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    position: fixed;
    z-index: 10;
    display: flex;
    height: 60px;
    width: 100%;
    top: 0px;
    background-color: #86DAD5;
    filter: drop-shadow(0px 3px 5px #213f2f);
}

header a {
    border-radius: 10%;
    height: 100%;
    transition:0.8s;
}

header a:hover {
    box-shadow: 5px 5px 5px #70a7a4 inset,-5px -5px 5px #a1efe9 inset;
}

header p {
    font-size: 2.5em;
}

header ul {
    counter-reset: opcoes;
    display: flex;
    align-items: center;
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: clamp(10%,60%,50%);
}

li {
    font: 'Fira Sans ';
    height: 70%;
}

#circle {
    position: relative;
    height: 100px;
    width: 10%;
    background-color: inherit;
    border-bottom-right-radius: 90%;
    transform: translate(0px,0px);
    z-index: +1;
}

#circle img {
    height: 100px;
}

#cabecalho {
    display: flex;
    align-self: flex-end;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 100%;
}

#nome_clinica_imagem {
    width: 100%;
    display: inline-flex;
    background-image: url(html/images/consultamed.jpg);
}

#nome_clinica_imagem #imagem {
    z-index: -2;
    position:absolute;
    width: 60%;
    height: 500px;
    background-image: url(images/consultamed.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    border-top-right-radius: 300px;
    border-bottom-right-radius: 300px;
}

#clinica {
    padding-right: 10px;
    color: black;
    z-index: -3;
    right: 1px;
    width: inherit;
    height: 500px;
    background-color: #18ABA1;
    /*Flexbox*/
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

#clinica h2 {
    font-size: 4.2em;
}

#clinica p {
    font: 'Fira Sans';
    width: 35%;
    text-align: center;
}

#epoca {
    text-align: center;
    padding-top: 5%;
    font-size: 3em;
    height: 200px;
    margin-bottom: 80px;
    background-color: #86DAD5;
    /*Borda*/
    border-top: 3px solid #3b634c;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

#areas_de_atuacao {
    height: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#areas_de_atuacao #areas {
    width: 80%;
    display: grid;
    grid-template-areas: 
    "area1 area2 area3 area4"
    "area5 area6 area7 area8";
    column-gap: 30px;
    row-gap: 20px;
    height: 800px;
}

#areas_de_atuacao #areas div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: inherit;
    /*Font*/
    font-size: 1.2em;
    font-family:'Poppins' ;
    text-shadow:1px 1px 3px #a1efe9;
    padding: 5px;
    border-radius: 10px;
    height: 120px;
    width: 200px;
    transition: 0.2s;
}

#areas_de_atuacao #areas div button {
    content: agendar consulta;
    width: inherit;
    height: fit-content;
    border: 1px solid black;
    border-radius: 10px;
    transition: 0.5s;
}

#areas_de_atuacao #areas div:hover {
   box-shadow:5px 3px 10px #a1efe9,-5px 3px 10px #a1efe9,
   5px -3px 10px #a1efe9,-5px -3px 10px #a1efe9;
}

#areas_de_atuacao #areas div button:hover {
    background-color: black;
    color: white;
}

#local {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: white;
}

#local div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#local div p {
    text-align: center;
    font-size: 2.5em;
}

#local div a {
    font-size: 1.5em;
    background-color: #18ABA1;
    text-align: center;
    width: 100%;
    border-top-right-radius:20px;
    border-bottom-right-radius:20px;

}

#doutores {
    padding: 5px;
    background-color: white;
    height: 650px;
    width: 100vw;
    display: flex;
    align-items: center;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

#doutores .doutor {
    scroll-snap-align: center;
    box-sizing: border-box;
    display: flex;
    width: 100vw;
    text-align: center;
    flex-shrink: 0;
}

#doutores img {
    border-radius:100%;
    border: 2px solid black;
}

#doutores .circle {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: absolute;
    background-color: #18ABA1;
}

#extras {
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
}

#extras .botoes {
    border-radius: 20px;
    box-shadow: 3px 3px 5px black;
    font-size: 1.5em;
    height: fit-content;
    width: fit-content;
    padding: 10px;
    background-color: #18ABA1;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    border-top: 1px solid black;
    background-color: rgb(255, 255, 255);
}

footer div {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

footer div div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer div div ul {
    list-style: none;
}