@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0px;
    border: 0px;
    font-family: 'Poppins';
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    position: fixed;
    display: flex;
    height: 60px;
    width: 100%;
    top: 0px;
    background-color: #86DAD5;
    filter: drop-shadow(0px 3px 5px #213f2f);
}

header a {
    border-radius: 10%;
    height: 100%;
    transition:0.8s;
}

header a:hover {
    box-shadow: 5px 5px 5px #70a7a4 inset,-5px -5px 5px #a1efe9 inset;
}

header p {
    font-size: 2.5em;
}

header ul {
    counter-reset: opcoes;
    display: flex;
    align-items: center;
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: clamp(10%,60%,50%);
}

li {
    font: 'Fira Sans ';
    height: 70%;
}

#circle {
    position: relative;
    height: 100px;
    width: 120px;
    background-color: inherit;
    border-bottom-right-radius: 90%;
    transform: translate(0px,0px);
    z-index: +1;
}

#cabecalho {
    display: flex;
    align-self: flex-end;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 100%;
}

#nome_clinica_imagem {
    width: 100%;
    display: inline-flex;
    background-image: url(html/images/consultamed.jpg);
}

#nome_clinica_imagem #imagem {
    z-index: -2;
    position:absolute;
    width: 60%;
    height: 500px;
    background-image: url(images/consultamed.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    border-top-right-radius: 300px;
    border-bottom-right-radius: 300px;
}

#clinica {
    padding-right: 10px;
    color: black;
    z-index: -3;
    right: 1px;
    width: inherit;
    height: 500px;
    background-color: #18ABA1;
    /*Flexbox*/
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

#clinica h2 {
    font-size: 4.2em;
}

#clinica p {
    font: 'Fira Sans';
    width: 35%;
    text-align: center;
}
